# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - base_to_shoulder
      - shoulder_to_elbow
      - elbow_to_wrist
      - wrist_to_flick
      - flick_to_ee
      - flick_to_claw
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
